<!DOCTYPE html>
<html>
<head>
    <title>Générateur d'échelle de mots</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Générateur d'échelle de mots</h1>
    <form method="POST">
        <label for="start_word">Mot de départ (pas plus de 8 caractères):</label>
        <input type="text" name="start_word" value="Terre">
        <br>
        <label for="target_word">Mot final:</label>
        <input type="text" name="target_word" value="Lune">
        <br>
        <input type="submit" value="Générer l'échelle de mots">
    </form>
</body>
</html>

